/* style.css */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family:'Noto Sans KR', sans-serif;   
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display:list-item;
    margin: 15px;  
}

#main_header {
    position: relative;
    width: 100%;
    height: 70px;
    background: #fff;
    text-align: center;
    
}

h1.logo_title {
    padding-top: 15px;
}
  
h1.logo_title img {
    width: 160px;
}
  
#gnb {
    position: absolute;
    right: 0;
    top: 40px
}

#gnb > ul > li {
    float: left;
    width: 150px;
    padding: 5px 0;
    /*outline: 1px solid green;*/
    font-size: 13px;
    text-align: center;
}

#gnb > ul > li > a {
    color: #000;
    text-transform: uppercase;
    /* margin-left: 0px; */
    display: block;
    /* outline: 1px solid red; */
}
/* 2단계 메뉴 구현 */
#gnb .depth2 {
  /* background: #ccc; */
  margin-top: 35px;
  padding: 10px;
  display: none; /* 기본은 비표시 */
}

#gnb > ul > li:hover > .depth2{
  display: block;
}

#gnb .depth2 > li {
  padding: 5px;
}
#gnb .depth2 > li > a {
  color: #fff;
  /* text-shadow: 1px 1px 2px #000; */
}

/* 1단계 메뉴 hover시 밑줄 효과 */
#gnb > ul > li > a:hover {
  text-decoration: underline;
}

#gnb > ul > li:last-child > a:hover {
  text-decoration: none;
}

/* 2단계 메뉴 hover시 텍스트 하이라이트 효과 */
#gnb .depth2 > li > a:hover {
  /* 글자색: 흰색, 불투명도 75%(0.75) */
  color: rgba(255,255,255,0.75);
}

   /* section 시작*/

section {
    /* width: 100%;
     height: 500px;*/
     text-align: center; 
     margin: 
}
 
section img {
     width: 100%;
     height: 400px;
     margin: 0;
}

#meloga1, #runon, #poster {
    background-color: #fff;
    background-size: cover;
    background-position: center center;  
  }
  #meloga1 {
  background-image: url(./images/back.jpg);
    background-attachment: fixed;
   
  }
  #runon {
    background-image: url(./images/back.jpg);
    background-attachment: fixed;
  }
  #poster {
    background-image: url(./images/back.jpg);
    background-attachment: fixed;
  }

  .section_nav {
    margin-top:auto;
    
  }
  .section_nav > ul > li {
    display: inline-block;
    color: #fff;
  }

  .section_nav > ul > li > a {
    color: #fff;
  }

  .section_nav > ul > li > span {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 13px;
    color: rgba(255,255,255,0.75);
  }
  
  .section_group {
    /*outline: 2px solid red; */
    padding-top: 0%;
    width: 100%;
    margin: auto;
  }
  
/*footer*/
#main_footer {
  background: #ccc;
  color: #9b9b9b;
  height: 100px;
  padding: 0 50px;
}



.footer_nav {
  font-size: 12px;  
}

h4 {
  font-size:small;
  color: rgb(88, 85, 85);
}


